name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: actions/setup-uv@v7
      - name: Install Python
        run: uv python install 3.9
      - name: Install dependencies
        run: uv sync --dev
      - name: Run Ruff
        run: uv run ruff check --output-format=github .